* {
	font-family: "Text Me One", serif;
	font-weight: 400;
	font-style: normal;
}

body,
html {
	min-height: 100vh;
}

.hero {
	height: 100vh;
	position: relative;
	background-color: black;
}

.layer {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.layer-video video {
	position: fixed;
	right: 0;
	bottom: 0;
	max-width: 65%;
	max-height: 100%;
}

.navbar h3, .game-logo {
	font-family: "Cairo Play", serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
	font-variation-settings:
		"slnt" 0;
}

#number {
	font-size: 48px;
	line-height: 120%;
}

.ee-logo {
	width: 300px;
}

.mw-500 {
	max-width: 600px;
}

.game-logo {
	letter-spacing: 3px;
	font-size: 32px;
}